@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Cartelera</h1>
    <p>Ver más <a href="http://www.sensacine.com/peliculas/estrenos/es/">Películas de estreno</a>.</p>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="width: auto; height:auto;" class="d-block w-100" src="./css/Imagenes/Pelis1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img style="width: auto; height:auto;" class="d-block w-100" src="./css/Imagenes/Pelis2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img style="width: auto; height:auto;" class="d-block w-100" src="./css/Imagenes/Pelis3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<div class="text-center">
    <h1 class="display-4">Descubre más sobre los próximos estrenos</h1>
    <br>
    <p style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec metus eu risus lacinia euismod ut maximus lorem. Etiam accumsan nunc augue, at tincidunt orci sodales vel. Sed tempus hendrerit tempus. Nunc eu rhoncus nunc. Quisque id lacinia urna, sed pretium purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed dapibus varius dignissim.
        <br><br>
        Donec eu turpis aliquet, scelerisque risus faucibus, volutpat libero. Nam hendrerit orci et ante sodales, a varius purus imperdiet. Sed a mi sagittis, hendrerit libero non, condimentum sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ut aliquam turpis, porta imperdiet justo. Duis tempus metus quis dapibus mollis. Mauris et felis eu mauris lacinia eleifend id sed turpis. Sed euismod volutpat ligula non rhoncus. Ut nec ipsum vitae ante accumsan consequat non nec arcu.
    </p>
</div>